/* Estilos para el contenedor del formulario */
.my-form-primary {
    max-width: 600px;
    min-height: 500px;
    height: 530px;
    width: 100%;
    padding: 20px;
    margin: 30px auto;
    margin-left: 400px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
}
p{
    font-family: cursive;
    font-size: 22px;
    font-weight: bold;
}

.datepicker{
    height: 36px;
    /* Puedes ajustar este valor según la altura que desees */
    width: 168px;
}
.super-container{
    
    width: 900px;
    padding: 20px;
    font-style: oblique;
    margin-left: -120px;
    align-items: center;
    justify-content: center;
}
.table-title{
align-items: center;
justify-content: center;
margin-top: 120px;
font-style: oblique;
margin-left: 150px;
}