/* Estilos para el contenedor principal */
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

/* Estilos para el contenedor del formulario */
.form{
    max-width: 400px;
    min-height: 500px;
    height: 750px;
    width: 100%;
    padding: 20px;
    margin: 30px auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
}



/* Estilo para el enlace dentro del párrafo */
p a {
    margin-top: 15px;
    /* Agregar un margen superior de 15px */
    /* Otros estilos adicionales para el enlace si es necesario */
}